* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #121212;
}

body {
    background: #f0f0f0;
}

#main-div {
    width: 512px;
    background: white;
    padding: 30px 60px 20px;
    border: 3px solid #121212;
    text-align: center;
    margin: 40px auto;
}

#title {
    font-size: 30px;
    font-weight: 750;
    letter-spacing: 1px;
}

#stadium-img {
    width: 380px;
    border: 3px solid #121212;
    margin: 30px 0 10px;
}

#description {
    font-style: italic;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 500;
}

#email-input {
    width: 250px;
    height: 40px;
    border: 3px solid #121212;
    padding: 0 20px;
    display: block;
    margin: 0 auto;
    color: #808080;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

#join-button {
    width: 250px;
    height: 40px;
    border: 3px solid #121212;
    margin: 10px auto 20px;
    color: white;
    background: #121212;
    font-weight: 600;
    font-size: 16px;
}

#tos {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
}

a {
    color: #121212;
}